# Mac stuff:
.DS_Store

# trunk output folder
dist

# Rust compile target directories:
target
target_ra
target_wasm

# https://github.com/lycheeverse/lychee
.lycheecache
/node_modules
/.wrangler

# .env
.env.local
.env.prod
.env

.wrangler
scripts/setup-gcp-auth/node_modules
scripts/setup-gcp-auth/node_modules
