name = "collects-app"
main = "src/worker.ts"
compatibility_date = "2025-09-15"

[[routes]]
pattern = "collects.lqxclqxc.com"
custom_domain = true

[assets]
directory = "./dist"
binding = "ASSETS"
run_worker_first = [ "/api/*", "/auth/*" ]
