name = "collects-app"
main = "src/worker.ts"
compatibility_date = "2025-09-15"

[[routes]]
pattern = "collects.lqxclqxc.com"
custom_domain = true

[assets]
directory = "./dist"
binding = "ASSETS"
run_worker_first = [ "/api/*", "/auth/*" ]

[[kv_namespaces]]
binding = "KV"
id = "a4dafe7674c2440b81e4ec2e5889f1ba"

[env.staging]
name = "collects-app-staging"

[[env.staging.routes]]
pattern = "staging.collects.lqxclqxc.com"
custom_domain = true

[[env.staging.kv_namespaces]]
binding = "KV"
id = "fac40588d16f4fa8b7c8f36de6445649"
