name = "collects-app"
main = "src/worker.ts"
compatibility_date = "2025-09-15"

[[routes]]
pattern = "collects.lqxclqxc.com"
custom_domain = true

[assets]
directory = "./dist"
binding = "ASSETS"
run_worker_first = [ "/api/*" ]

[[kv_namespaces]]
binding = "KV"
id = "a4dafe7674c2440b81e4ec2e5889f1ba"

[vars]
API_BASE = "https://collects-services-145756646168.us-east1.run.app"
