name: CI

on:
  push:
    branches: ["main"]
  pull_request:

env:
  CARGO_TERM_COLOR: always

# TODO: We needs to optimize the Job flows, store run build cache, and parallel the jobs.
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libxcb-render0-dev libxcb-shape0-dev libxcb-xfixes0-dev libxkbcommon-dev libssl-dev libgtk-3-dev libwayland-dev

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
          components: rustfmt, clippy

      - name: Setup Just
        uses: extractions/setup-just@v2

      - name: Install Typos
        uses: taiki-e/install-action@v2
        with:
          tool: typos-cli

      - name: Cache dependencies
        uses: swatinem/rust-cache@v2

      - name: Check Format
        run: just check-fmt

      - name: Check Clippy
        run: just check-clippy

      - name: Check Typos
        run: just check-typos

      - name: Run Test
        run: just ui::test

      - name: Run Build
        run: just ui::release
