name: Cleanup PR Environment

on:
  pull_request:
    types: [closed]

jobs:
  cleanup:
    name: "Cleanup: PR Resources"
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install Scripts Dependencies
        working-directory: scripts
        run: bun install --frozen-lockfile

      - name: Google Auth
        id: auth
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: "projects/145756646168/locations/global/workloadIdentityPools/github-actions-pool/providers/github-provider"
          service_account: "github-actions-sa@braided-case-416903.iam.gserviceaccount.com"

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Delete Docker Image
        id: delete-image
        working-directory: scripts
        env:
          PR_NUMBER: ${{ github.event.pull_request.number }}
        run: bun run main.ts cleanup-pr-image
