name: Commit Lint

on:
  pull_request:
    types: [opened, synchronize, reopened, edited]

permissions:
  contents: read

jobs:
  commitlint:
    name: "Validate: PR Title"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Setup Just
        uses: extractions/setup-just@v2

      - name: Validate PR Title
        run: |
          just scripts::check-pr-title "${{ github.event.pull_request.title }}"
