name: Deploy Worker

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  pull_request:
  schedule:
    - cron: '0 0 * * *'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libxcb-render0-dev libxcb-shape0-dev libxcb-xfixes0-dev libxkbcommon-dev libssl-dev libgtk-3-dev libwayland-dev
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
          targets: wasm32-unknown-unknown
      - name: Setup Just
        uses: extractions/setup-just@v2
      - uses: pnpm/action-setup@v4
        with:
          version: latest
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
          cache: 'pnpm'
          cache-dependency-path: 'ui/pnpm-lock.yaml'
      - name: Build
        run: just ui::wk-build
      - name: Deploy to Staging
        if: github.event_name == 'pull_request'
        run: just ui::wk-deploy staging
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CF_API_TOKEN_TEST }}
      - name: Deploy to Test
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: just ui::wk-deploy test
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CF_API_TOKEN_TEST }}
      - name: Deploy to Nightly
        if: github.event_name == 'schedule'
        run: just ui::wk-deploy nightly
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CF_API_TOKEN_PROD }}
      - name: Deploy to Production
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
        run: just ui::wk-deploy production
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CF_API_TOKEN_PROD }}
