name: Deploy Worker

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  pull_request:
  schedule:
    - cron: '0 0 * * *'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libxcb-render0-dev libxcb-shape0-dev libxcb-xfixes0-dev libxkbcommon-dev libssl-dev libgtk-3-dev libwayland-dev
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
      - name: Setup Just
        uses: extractions/setup-just@v2
      - uses: pnpm/action-setup@v4
        with:
          version: 9
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'
          cache-dependency-path: 'ui/pnpm-lock.yaml'
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
        working-directory: ./ui
      - name: Build
        run: pnpm build
        working-directory: ./ui
      - name: Deploy to Staging
        if: github.event_name == 'pull_request'
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CF_API_TOKEN_TEST }}
          workingDirectory: ./ui
          command: deploy --env staging
      - name: Deploy to Test
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CF_API_TOKEN_TEST }}
          workingDirectory: ./ui
          command: deploy --env test
      - name: Deploy to Nightly
        if: github.event_name == 'schedule'
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CF_API_TOKEN_PROD }}
          workingDirectory: ./ui
          command: deploy --env nightly
      - name: Deploy to Production
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CF_API_TOKEN_PROD }}
          workingDirectory: ./ui
          command: deploy --env production
